:root {
  --theme: slateblue;
  --yellow: #ffe554;
  --error: #e65d5d;
  --lightgrey: #ddd;
  --spacing-s: .5em;
  --spacing: 1em;
  --spacing-m: 2em;
  --spacing-l: 3em;
}


body {
  margin: 0;
  padding: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--theme);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border-radius: 5px;
  border: 0;
  font-size: 1em;
  line-height:1;
  background-color: var(--theme);
  color: white;
  padding:var(--spacing) var(--spacing-m);
  cursor: pointer;
}

hr {
  margin: var(--spacing-l) 0;
  border: 0;
  height: 2px;
  background-color: var(--lightgrey);
}



.App {
  max-width: 1000px;
  margin: auto;
  background-color: white;
  padding: var(--spacing-l);
  border-radius: 10px;
  box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.2);

}
.question {
font-size: 1.5em;
}
.activity {
  font-size: 3em;
}
.error {
  font-size: 3em;
  color: var(--error);
}

.form-group {
  margin-bottom: var(--spacing);
}
.form-group span {
  vertical-align: top;
    display: inline-block;
    margin-top: 11px;
    margin-left: 10px;
    background: #e6e6e6;
    color: #666;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    padding: 4px 0px;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
}

input:not([type=submit]), textarea, select {
  border-radius: 5px;
  border: 1px solid var(--lightgrey);
  font-size: 1em;
  line-height:1;
  padding: 0 var(--spacing);
  background-color: white;
  height: 40px;
  width: 200px;
}

select {
  width: 240px;
}


label {
  display: block;
  margin-right: var(--spacing-s);
  margin-bottom: var(--spacing-s);
  font-weight: bold;
}

footer {
  max-width: 1000px;
  margin: auto;
  color: white;
  margin-top: var(--spacing-m);
  text-align: center;
}

footer a {
  color: var(--yellow);
}